.about, .skills, .services, .formacao, footer{
    font-family: 'IBM Plex Serif', serif;
    font-size: 400;
    background-color: #DFEBF6;
}
.about .about-content, .services .serv-content, .skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
section .title{
    font-family: 'PT', serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3.7rem;
    padding-bottom: 1.2rem;
}

.about .about-content .column-left{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about .about-content .column-right{
    width: 70%;
    border-left: #76BA96 solid .1rem;
}
.about .about-content .column-right p{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: #29353C;
}
.about .about-content .column-left img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.services, .formacao{
    background-color: #29353C;
    color: #76BA96;
}
.services .serv-content{
    height: 11.8rem;
    overflow: hidden;
    padding: 1rem;
    border-radius: 6px;
}
.services .serv-content.active{
    height: auto;
}
.services .serv-content::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    min-height: 12rem;
    background-color: #DFEBF6;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #76BA96;
}
.services .serv-content .card .box{
    transition: all .3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card .box a{
    width: 100%;
    height: 100%;
}
.services .serv-content .card .box a img{
    border-radius: 6px;
    width: 100%;
}
.services .serv-content .card ion-icon{
    font-size: 3.1rem;
    color: #29353C;
}
.services .serv-content .card .text{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.6rem 0 0.4rem 0;
    color: #29353C;
}
.btn-mais{
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
}
.btn-mais #read-more{
    padding: 0.6rem;
    border: none;
    cursor: pointer;
    color: #76BA96;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background-color: transparent;
}

.skills .skills-content .column-left, .skills .skills-content .column-right{
    width: calc(50% - 30px);
}
.skills .skills-content .column-left .text{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: .5rem;
}
.skills .skills-content .column-left p{
    text-align: justify;
}

.skills .skills-content .tag-list{
    margin: 0;
    padding-inline: 0;
    list-style: none;
}
.skills .skills-content .tag-list li{
    padding: 1rem;
    border-radius: 0.5rem;
}
.scroller{
    max-width: 600px;
}
.scroller[data-animated= "true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, #DFEBF6 10%, #DFEBF6 80%, transparent);
    mask: linear-gradient(90deg, transparent, #DFEBF6 10%, #DFEBF6 80%, transparent);
}
.scroller__inner{
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    flex-wrap: wrap;
}
.scroller[data-animated= "true"] .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scrolls 30s linear infinite;
}
@keyframes scrolls {
    to{
        transform: translate(calc(-50% - .5rem));
    }
}

.btn-more{
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
}
.btn-more #skills-more{
    padding: 0.6rem;
    border: none;
    cursor: pointer;
    color: #29353C;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}


.formacao .carousel{
    padding: 1rem;
    border-radius: 1%;
}
.formacao .carousel .card{
    background: #DFEBF6;
    border-radius: 5%;
    padding: 1.5rem 2.1rem;
    display: flex;
    justify-content: center;
    transition: all .3s ease;
    cursor: pointer;
    min-width: 15rem;
    height: 18rem;
}
.formacao .carousel .card:hover{
    background-color: #76BA96;
}
.formacao .carousel .card img{
    width: 6.2rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 10%;
    transition: all .3s ease;
}
.formacao .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.formacao .carousel .card:hover .box{
    transform: scale(1.05);
}
.formacao .carousel .card .text{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.6rem 0 0.4rem 0;
    color: #29353C;
}
.formacao .carousel .card p{
    color: #29353C
}
.owl-dots{
    text-align: center;
    margin-top: 1.2rem;
}
.owl-dot{
    width: 0.8rem;
    height: 0.8rem;
    outline: none!important;
    border-radius: 50%;
    border: 0.1rem solid #76BA96!important;
    transition: all .3s ease;
}
.owl-dot.active{
    width: 2.1rem;
    border-radius: 15px;
}
.owl-dot.active, .owl-dot:hover{
    background: #DFEBF6!important;
}