.max-width{
    width: 100%;
    padding: 0 5rem;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 1.875rem 0;
    font-family: 'PT Serif', serif;
    font-size: 400;
    transition: all 0.3s ease;
    z-index: 999;
    background-color: transparent;
}
.navbar.sticky{
    background-color: #DFEBF6;
    padding: 0.9rem 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #716b6d;
    font-size: 2.1rem;
    font-weight: 500;
}
.navbar .logo a span{
    color: #76BA96;
}
.navbar #menu li{
    list-style: none;
    display: inline-block;
}
.navbar #menu li a{
    color: #29353C;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1.5rem;
    transition: color 0.3s ease;
}
.navbar #menu li a:hover{
    padding: .1rem 0 ;
    border-bottom: solid 0.15rem #29353C;
    border-radius: 10%;
}
.navbar.sticky #menu li a:hover{
    padding: .1rem 0 ;
    border-bottom: solid 0.15rem #29353C;
    border-radius: 10%;
}

#lang{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    width: 1.5rem;
    height: 1.5rem;
    right: 1rem;
    bottom: 50%;
    text-align: center;
}
.langs img{
    width: 100%;
}